@model LinkedHU_CENG.Models.User;

@{
    var user = ViewData["User"] as User;
    var oldPassword = "";
    var newPassword = "";
}

<div class="container" style="margin-top:150px;">
    <form asp-controller="Profile" asp-action="ChangePasswordRequest"  method="post" enctype="multipart/form-data" >
        <div class="border p-3 mt-4 custom-margin1 custom-shadow1">
            <div class="mb-3 ">
                <h3 class="text-primary">Change Password</h3>
            </div>
            <div class="form-group">
                <label class="control-label">Type your current password</label>
                <input type="password" name="oldPassword" for="@oldPassword" class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Type your new password</label>
                <input type="password" name="newPassword" for="@newPassword" class="form-control" />
                <span  class="text-danger"></span>
            </div>
            
            <div align="center" class="form-group" style="" width:400px; margin:0 auto;">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>