@model LinkedHU_CENG.Models.ForgetPassword


@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}

<div class="content-wrapper" style="margin-top:150px">
    <div class="sub-main">
        <h2 class="sub-heading"> Reset Password</h2>
        <div class="login">
            <p class="span line-left">Enter your email to reset your password.</p>
            <form asp-action="ForgetPassword" , asp-controller="User">
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="login-bwn">
                    <input type="submit" value="Reset" />
                </div>

            </form>
        </div>

    </div>

</div>
