@model LinkedHU_CENG.Models.Advertisement

@{
    var applications = ViewData["Application"] as List<Application>;
}


<div class="card-profile" style="margin-top:150px;">
        <div class="card" style="background-color:#ffffff;">
            <h5 align="center"  class="align-items-center mb-3" style="margin-top:10px;">Applicant’s Details</h5>
            <div class="d-flex flex-column align-items-center text-center">
                <table class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                User Name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Phone Number
                            </th>
                            <th>
                                Location
                            </th>
                            <th>
                                Resume
                            </th>
                            <th>
                                Certificate
                            </th>
                            <th>
                                Certificate
                            </th>
                            <th>
                                Certificate
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in applications)
                        {
                            <tr>
                                <td> @obj.UserName </td>
                                <td> @obj.Email </td>
                                <td> @obj.PhoneNum </td>
                                <td> @obj.UserLocation </td>
                                <td> <a href="~/Resumes/@obj.ResumePath">See & Download</a></td>
                                <td><a href="~/Certificates/@obj.Certificate1Path">See & Download</a></td>
                                <td> <a href="~/Certificates/@obj.Certificate2Path">See & Download</a></td>
                                <td><a href="~/Certificates/@obj.Certificate3Path">See & Download</a></td>
                                
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>